<div class="input-group input-group-lg mb-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Search</span>
  </div>
  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>